@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600);
.details-card{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    text-align: center;
    width:400px;
    background-color: #fff;
    padding:20px;
    margin: 10px auto;
    box-shadow: 8px 10px 20px 5px dimgrey;
    border-radius: 15px;
    

}
.details-card .avatar{
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.details-card .avatar img{
    width: 7.25rem;
    height: 7.25rem;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
    border-style: none;
}
.details-card .username{
    margin-bottom: 0px;
}
.details-card .username a{
    color:#2368bd;
    font-size: 1.65rem;
    display: inline-block;
    text-decoration: none;
    margin: 0px;
}
.details-card .location{
    color:#bdcbce;
    font-size: 1.1885rem;
    margin-top:0px;
    margin-bottom: 10px;
}
.details-card .details{
    background: #1a4e8e;
    text-align: center;
    padding: 1.875rem .9375rem;
    border-radius: 0 0 .3125rem .3125rem;
    border-radius: 15px
}

.details-card .details ul{
    direction: ltr;

}

.details-card .details ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2.0rem;
}

.details-card .details ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;

}

.details-card .details ul li a i{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    display: block;
}

.details-card .detail a span{
    font-size: .900rem;
    letter-spacing: .0625rem;
    color: #eee;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }